### Import Libraries

In [1]:
import pandas as pd
import numpy as np

### Read Data using Pandas

In [26]:
df = pd.read_csv("adult.data.csv")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### People of race represented in the Dataset

In [27]:
 race_count = df["race"].value_counts()
 race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### Average age of men

In [28]:
average_age_men = round(df[df['sex']== 'Male']['age'].mean(), 1)
average_age_men

39.4

### Percentage of people with Bachelors Education

In [29]:
percentage_of_bachelors = (len(df[df['education']=='Bachelors'])/len(df)) *100

In [31]:
percentage_of_bachelors

16.44605509658794

### Percentage of people with advanced education earning more than 50K

In [34]:
advanced_educated_people=[df[df["education"]=="Bachelors"],df[df["education"]=="Masters"],df[df["education"]=="Docatrate"]]

##### number of advanced educated people

In [35]:
advanced_educated_people

[       age         workclass  fnlwgt  education  education-num  \
 0       39         State-gov   77516  Bachelors             13
 1       50  Self-emp-not-inc   83311  Bachelors             13
 4       28           Private  338409  Bachelors             13
 9       42           Private  159449  Bachelors             13
 11      30         State-gov  141297  Bachelors             13
 ...    ...               ...     ...        ...            ...
 32530   35                 ?  320084  Bachelors             13
 32531   30                 ?   33811  Bachelors             13
 32533   54           Private  337992  Bachelors             13
 32536   34           Private  160216  Bachelors             13
 32538   38           Private  139180  Bachelors             13

            marital-status       occupation   relationship                race  \
 0           Never-married     Adm-clerical  Not-in-family               White
 1      Married-civ-spouse  Exec-managerial        Husband               White
 4      Married-civ-spouse   Prof-specialty           Wife               Black
 9      Married-civ-spouse  Exec-managerial        Husband               White
 11     Married-civ-spouse   Prof-specialty        Husband  Asian-Pac-Islander
 ...                   ...              ...            ...                 ...
 32530  Married-civ-spouse                ?           Wife               White
 32531       Never-married                ?  Not-in-family  Asian-Pac-Islander
 32533  Married-civ-spouse  Exec-managerial        Husband  Asian-Pac-Islander
 32536       Never-married  Exec-managerial  Not-in-family               White
 32538            Divorced   Prof-specialty      Unmarried               Black

           sex  capital-gain  capital-loss  hours-per-week native-country  \
 0        Male          2174             0              40  United-States
 1        Male             0             0              13  United-States
 4      Female             0             0              40           Cuba
 9        Male          5178             0              40  United-States
 11       Male             0             0              40          India
 ...       ...           ...           ...             ...            ...
 32530  Female             0             0              55  United-States
 32531  Female             0             0              99  United-States
 32533    Male             0             0              50          Japan
 32536  Female             0             0              55  United-States
 32538  Female         15020             0              45  United-States

       salary
 0      <=50K
 1      <=50K
 4      <=50K
 9       >50K
 11      >50K
 ...      ...
 32530   >50K
 32531  <=50K
 32533   >50K
 32536   >50K
 32538   >50K

 [5355 rows x 15 columns],
        age         workclass  fnlwgt education  education-num  \
 5       37           Private  284582   Masters             14
 8       31           Private   45781   Masters             14
 19      43  Self-emp-not-inc  292175   Masters             14
 47      44           Private  128354   Masters             14
 87      33           Private  202051   Masters             14
 ...    ...               ...     ...       ...            ...
 32504   50           Private  208630   Masters             14
 32513   46           Private   42972   Masters             14
 32544   31           Private  199655   Masters             14
 32553   32           Private  116138   Masters             14
 32554   53           Private  321865   Masters             14

            marital-status       occupation   relationship                race  \
 5      Married-civ-spouse  Exec-managerial           Wife               White
 8           Never-married   Prof-specialty  Not-in-family               White
 19               Divorced  Exec-managerial      Unmarried               White
 47               Divorced  Exec-managerial      Unmarried               White
 87     Married-civ-spouse   Prof-specialty        Husband               White
 ...                   ...              ...            ...                 ...
 32504            Divorced            Sales  Not-in-family               White
 32513  Married-civ-spouse   Prof-specialty           Wife               White
 32544            Divorced    Other-service  Not-in-family               Other
 32553       Never-married     Tech-support  Not-in-family  Asian-Pac-Islander
 32554  Married-civ-spouse  Exec-managerial        Husband               White

           sex  capital-gain  capital-loss  hours-per-week native-country  \
 5      Female             0             0              40  United-States
 8      Female         14084             0              50  United-States
 19     Female             0             0              45  United-States
 47     Female             0             0              40  United-States
 87       Male             0             0              50  United-States
 ...       ...           ...           ...             ...            ...
 32504  Female             0             0              50  United-States
 32513  Female             0             0              22  United-States
 32544  Female             0             0              30  United-States
 32553    Male             0             0              11         Taiwan
 32554    Male             0             0              40  United-States

       salary
 5      <=50K
 8       >50K
 19      >50K
 47     <=50K
 87     <=50K
 ...      ...
 32504   >50K
 32513   >50K
 32544  <=50K
 32553  <=50K
 32554   >50K

 [1723 rows x 15 columns],
 Empty DataFrame
 Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, salary]
 Index: []]

##### people with advanced education earning more than 50K

In [52]:
advanced_educated_salary = df['salary'] == '>50K'
advanced_educated_salary

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557     True
32558    False
32559    False
32560     True
Name: salary, Length: 32561, dtype: bool

##### percentage of people with higher education earning more than 50K

In [60]:
percentage_higher_education=(len(advanced_educated_people[advanced_educated_people["salary"]==">50K"])/len(advanced_educated_people))*100
round(percentage_higher_education,1)

44.9

### Percentage of people without advanced education earning more than 50K

In [76]:
basic_educated_people = df[df["education"] != "Bachelors"]
basic_educated_people = basic_educated_people[basic_educated_people["education"] != "Masters"]
basic_educated_people = basic_educated_people[basic_educated_people["education"] != "Doctorate"]

basic_education_rich = round ( (len(basic_educated_people[basic_educated_people["salary"] == ">50K"]) / len(basic_educated_people)) * 100, 1)

In [77]:
basic_educated_people

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [78]:
#df.education.value_counts()

### Minimum Number of hours a person works per week

In [80]:
min_hours=df["hours-per-week"].min()

In [81]:
min_hours

1

### Percentage of people working with minimum number of hours per week earning more than 50K

In [82]:
slackers = df[df["hours-per-week"] == min_hours]

In [83]:
percentage_people=(len(slackers[slackers["salary"]==">50K"])/len(slackers))*100

In [84]:
percentage_people

10.0

### Country with the highest percentage of people that earn more than 50K

##### countries with people earning more than 50K

In [85]:
rich_percentages = (df[df["salary"] == ">50K"]["native-country"].value_counts() / df["native-country"].value_counts())*100
rich_percentages

?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands                  NaN
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)          NaN
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
Name: native-country, dtype: float64

##### country with the highest earnings

In [86]:
highest_earning_country = wealth_percentages.idxmax()
highest_earning_country

'Iran'

##### percentage of the country with the highest earnings

In [87]:
highest_earning_country_percentage = round(wealth_percentages.max(), 1)
highest_earning_country_percentage

41.9

### Most popular occupation for people earning more than 50K in India

In [88]:
indians = df[df["native-country"] == "India"]
indians = indians[indians["salary"] == ">50K"]
top_IN_occupation = indians['occupation'].value_counts().idxmax()

In [89]:
indians

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
968,48,Private,164966,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
1327,52,Private,168381,HS-grad,9,Widowed,Other-service,Unmarried,Asian-Pac-Islander,Female,0,0,40,India,>50K
7258,42,State-gov,102343,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,72,India,>50K
7285,54,State-gov,93449,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
8124,36,Private,172104,Prof-school,15,Never-married,Prof-specialty,Not-in-family,Other,Male,0,0,40,India,>50K
9939,43,Federal-gov,325706,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
10590,35,Private,98283,Prof-school,15,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,40,India,>50K
10661,59,Private,122283,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,99999,0,40,India,>50K
10736,30,Private,243190,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,20,India,>50K
11260,54,Private,225599,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,7298,0,40,India,>50K
11384,34,Private,98283,Prof-school,15,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,1564,40,India,>50K
13422,53,Private,366957,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,50,India,>50K
13551,40,Private,220977,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,3103,0,40,India,>50K
13862,45,Private,209912,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
16017,41,Private,207578,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,50,India,>50K
16778,43,Private,242968,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
16923,41,Private,143003,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,7298,0,60,India,>50K
17259,57,Self-emp-inc,123053,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,15024,0,50,India,>50K
17834,29,Self-emp-not-inc,341672,HS-grad,9,Married-spouse-absent,Transport-moving,Other-relative,Asian-Pac-Islander,Male,0,1564,50,India,>50K
20417,42,Self-emp-inc,23510,Masters,14,Divorced,Exec-managerial,Unmarried,Asian-Pac-Islander,Male,0,2201,60,India,>50K
20465,39,Private,198654,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,2415,67,India,>50K
21128,30,Private,122889,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
23474,55,State-gov,120781,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
24154,46,Private,229737,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,India,>50K
25739,35,Self-emp-inc,79586,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
26305,27,Private,207352,Bachelors,13,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
26356,34,Private,99872,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,3103,0,40,India,>50K
27670,61,Private,80896,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,India,>50K
28264,51,Self-emp-not-inc,120781,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Other,Male,99999,0,70,India,>50K
28433,42,Private,198341,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1902,55,India,>50K
28452,53,Private,70387,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,4386,0,40,India,>50K
28557,34,Private,165737,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,43,India,>50K
28651,45,Self-emp-not-inc,216402,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
28798,30,Self-emp-not-inc,116666,Masters,14,Divorced,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,50,India,>50K
30111,41,Federal-gov,219155,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,India,>50K
30152,48,Private,119471,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
30833,25,Private,110978,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,37,India,>50K
31327,38,State-gov,125499,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,7688,0,60,India,>50K
31357,23,Private,143003,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1887,50,India,>50K

In [90]:
top_IN_occupation

'Prof-specialty'